<div class='container'>
	<legend>Login</legend>
	<div class='col-sm-6'>
		<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
		<div class="form-inputs">
			<%= f.input :email, required: false, autofocus: true %>
			<%= f.input :password, required: false %>
		</div>
		<%= f.button :submit, 'Login', class: 'pull-right btn btn-danger btn-lg' %>
		<% end %>
		<%= render "users/shared/links" %>
	</div>
</div>